@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(21, 26, 21);
    font-family: 'Roboto', Helvetica;
    color: azure;
    letter-spacing: 1px;
}

a {
    color: rgb(107, 174, 212)
}

footer {
    color: azure
}

nav {
    color: azure;
    background-color: black;
    border-bottom: solid 1px green;
    padding: 12px
}

.navbar {
    overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    width: 100%;
}

input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

select {
    height: 2.5em;
}

select[multiple] {
    height: 7.5em;
}

textarea {
    margin: 0;
    padding: .25em .5em;
}

.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

.my-tasks-list,
.project-list,
.project-detail {
    background-color: rgb(70, 69, 69);
    border-radius: 4px;
    box-shadow: 0 2px 4px grey;
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

main {
    position: relative;
    top: 20px
}

.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

.helptext {
    display: block;
    font-size: 80%;
}

.login-form,
.signup-form {
    background-color: rgb(70, 69, 69);
    border-radius: 4px;
    box-shadow: 0 2px 4px grey;
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

.task-form,
.project-form {
    background-color: rgb(70, 69, 69);
    border-radius: 4px;
    box-shadow: 0 2px 4px grey;
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

footer {
    position: fixed;
    bottom: 4px;
    left: 0;
    width: 100%;
    text-align: center;
}

img {
    height: 75px;
}

footer p {
    margin: 0 0 16px 0
}
