{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <p>Hello, {{ user.username }}</p>
                        <div class="navbar">
                            <div class="dropdown">
                                <button class="dropbtn">My Stuff
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="{% url 'list_projects' %}">My Projects</a>
                                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                                    <a href ="{% url 'logout' %}">Logout</a>
                                </div>
                            </div>
                    {% else %}
                            <li>
                                <a href ="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">Signup</a>
                            </li>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <a href="https://www.linkedin.com/in/james-baumann-8a491b148/">
                <img src="https://logodix.com/logo/4353.png">
            </a>
            <p>Made by PBHR</p>
        </footer>
    </body>
</html>
